* {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: sans-serif;;
  }
  
  h2 {
    font-size: 20px;
    margin: 15px 0;
    color: gray;
  }
  
  p {
    margin: 0;
    font-size: 20px;
  }
  
  .main {
      display: flex;
      width: 100vw;
      height: 100vh;
      justify-content: center;
      align-items: center;
      background-color: #9139b5;
  }
  
  #quote-box {
      width: 450px;
      padding: 40px;
      border-radius: 10px;
      background-color: #ffffff;
  }
  
  .actions {
      display: flex;
      align-items: center;
  }
  
  .main .button,
  #tweet-quote{
      background-color: #9139b5;
      border-color: #9139b5;
      display: inline-blick;
      border-radius: 5px;
      padding: 5px 10px;
      cursor: pointer;
      font-size: 20px;
      color: #ffffff;
  }
  
  #tweet-quote {
      margin-left: 15px;
      padding: 7px 10px;
      text-decoration: none;
  }